:root {
    /* color */
    --SanMarino-50: #F5F7FA;
    --SanMarino-100: #E9EDF5;
    --SanMarino-200: #CFDAE8;
    --SanMarino-300: #A4B8D5;
    --SanMarino-400: #7393BD;
    --SanMarino-500: #5175A6;
    --SanMarino-600: #446596;
    --SanMarino-700: #344C70;
    --SanMarino-800: #2E415E;
    --SanMarino-900: #2A3850;
    --SanMarino-950: #1C2535;
    --white: #fff
}

* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(./images/bg-img.png);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

/* Typography */
h1 {
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 105.6px */

    color: var(--SanMarino-600);
}

h2 {
    font-size: 31px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 34.1px */

    color: var(--SanMarino-600);
}

h3 {
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    color: var(--SanMarino-400);
}

.caption {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 100% */
    letter-spacing: -0.4px;

    color: var(--SanMarino-950);
}

p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    color: var(--SanMarino-400);
}


.card {
    width: 90%;
    max-width: 470px;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.50);
    color: var(--SanMarino-400);
    margin: 100px auto 0;
    padding: 40px 32px;
    text-align: center;
    box-shadow: 16px 12px 33.3px 0px rgba(0, 0, 0, 0.12);
    /* background: linear-gradient(135deg, #00feba, #5b548a); */
}

.search, .condition, .details {
    margin-bottom: 48px;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: var(--white);
    color: var(--SanMarino-800);
    padding: 16px 24px;
    /* height: 60px; */
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    box-shadow: 16px 12px 33.3px 0px rgba(0, 0, 0, 0.12);
}

.search button {
    border: 0;
    outline: 0;
    background: var(--white);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 16px 12px 33.3px 0px rgba(0, 0, 0, 0.12);
}

.search-icon {
    font-size: 25px;
    color: var(--SanMarino-600);
}

.weather-icon {
    width: 170px;
    margin-bottom: 48px;
}


.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    /* width: 300px; */
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

/* will display none when the user first browse the website, but we don't need it right now */
/* .weather {
    display: none;
} */

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: -40px;
    display: none;
    margin-bottom: 48px;
}


.fashion-advice {
    padding: 16px 24px;
    background: var(--SanMarino-200);
    border-radius: 25px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    text-align: left;
}

.desktop-logo {
    display: block;
}

.mobile-logo {
    display: none;
}


@media only screen and (max-width: 430px) {

    /* Typo */
    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 20px;
    }
    
    h3 {
        font-size: 20px;
    }

    p-m {
        font-size: 13px;
    }

    .card {
        max-width: 326px;
        padding: 40px 24px;   
    }

    .search input {
        width: 30px;
    }
    .search button {
        width: 45px;
        height: 45px;
    }

    .desktop-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
    }
    
  }