:root {
    /* color */
    --SanMarino-50: #F5F7FA;
    --SanMarino-100: #E9EDF5;
    --SanMarino-200: #CFDAE8;
    --SanMarino-300: #A4B8D5;
    --SanMarino-400: #7393BD;
    --SanMarino-500: #5175A6;
    --SanMarino-600: #446596;
    --SanMarino-700: #344C70;
    --SanMarino-800: #2E415E;
    --SanMarino-900: #2A3850;
    --SanMarino-950: #1C2535;
    --white: #fff
}

* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(./images/bg-img.png);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

/* Typography */
h1 {
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 105.6px */

    color: var(--SanMarino-600);
}

h2 {
    font-size: 1.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 34.1px */

    color: var(--SanMarino-600);
}

h3 {
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    color: var(--SanMarino-400);
}

.caption {
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 100% */
    letter-spacing: -0.4px;

    color: var(--SanMarino-950);
}

p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    color: var(--SanMarino-400);
}


.card {
    width: 90%;
    max-width: 29.375rem;
    border-radius: 2.1875rem;
    background: rgba(255, 255, 255, 0.50);
    color: var(--SanMarino-400);
    margin: 6.25rem auto 0;
    padding: 2.5rem 2rem;
    text-align: center;
    box-shadow: 16px 12px 33.3px 0px rgba(0, 0, 0, 0.12);
    /* background: linear-gradient(135deg, #00feba, #5b548a); */
}

.search, .condition, .details {
    margin-bottom: 2rem;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: var(--white);
    color: var(--SanMarino-800);
    padding: 1rem 1.5rem;
    /* height: 60px; */
    border-radius: 1.875rem;
    flex: 1;
    margin-right: 1rem;
    font-size: 1.125rem;
    box-shadow: 16px 12px 33.3px 0px rgba(0, 0, 0, 0.12);
}

.search button {
    border: 0;
    outline: 0;
    background: var(--white);
    border-radius: 50%;
    width: 3.75rem;
    height: 3.75rem;
    cursor: pointer;
    box-shadow: 16px 12px 33.3px 0px rgba(0, 0, 0, 0.12);
}

.search-icon {
    font-size: 1.5625rem;
    color: var(--SanMarino-600);
}

.weather-icon {
    width: 10.625rem;
    margin-bottom: 3rem;
}


.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.25rem;
    width: 300px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

/* .col img {
    width: 2.5rem;
    margin-right: 0.625rem;
} */

.humidity, .wind {
    font-size: 1.75rem;
    margin-top: -6px;
}

/* will display none when the user first browse the website, but we don't need it right now */
/* .weather {
    display: none;
} */

.error {
    text-align: left;
    margin-left: 0.625rem;
    font-size: 0.875rem;
    margin-top: -2.5rem;
    display: none;
    margin-bottom: 3rem;
}


.fashion-advice {
    padding: 1rem 1.5rem;
    background: var(--SanMarino-200);
    border-radius: 1.5625rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    text-align: left;
}

.desktop-logo {
    display: block;
}

.mobile-logo {
    display: none;
}


@media only screen and (max-width: 430px) {

    body {
        overflow-y: scroll;
        margin: 0 auto;
        height: 100vh;
    }

    /* Typo */
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 1.25rem;
    }
    
    h3 {
        font-size: 1.25rem;
    }

    p {
        font-size: 0.8125rem;
    }

    .card {
        max-width: 20.375rem;
        padding: 2.5rem 1.5rem;   
    }

    .search input {
        width: 1.875rem;
    }

    .search button {
        width: 2.8125rem;
        height: 2.8125rem;
    }

    .desktop-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
    }

    .search, .condition, .details {
        margin-bottom: 1.5rem;
    }

    .details {
        width: auto;
    }

    
  }